*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    background-image: url("https://th.bing.com/th/id/R.413c8878f5c68b79c589f1d314429ab8?rik=ikTbRTHIOIepEg&riu=http%3a%2f%2fpapers.co%2fwallpaper%2fpapers.co-vp79-lg-g-flex-dark-bw-line-gray-pattern-black-41-iphone-wallpaper.jpg&ehk=snvDpbV0hRHGN8tTRnEAkdYQtDWF9IgjCyr4pP3xyL4%3d&risl=&pid=ImgRaw&r=0");   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main{
    

    
    .section-two{
        margin: 30px 0;
        padding: 30px;
        h2{
            padding: 20px 0;
            font-size: 30px;
            filter: drop-shadow(0px 0px 20px white);
            position: relative;
            width: 350px;
            animation: rotatanime 10s infinite;
            border-top: 3.5px solid grey;
            border-bottom: 3.5px solid grey;        
            &::after{
                content: "";
                width: 60px;
                height: 3px;
                position: absolute;
                bottom: -3px;
                background: white;
                animation: afteranime 10s infinite;
            }
            &::before{
                content: "";
                width: 60px;
                height: 3px;
                position: absolute;
                top: -3px;
                background: white;
                z-index: 99;
                animation: beforanime 10s infinite;
            }
        }
    }

    .section-there{
        width: 90%;
        margin: 30PX auto;
    }

    .section-four{
        .head-text{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 20px;
            h2{
                font-size: 40px;
                cursor: pointer;
                transition: .5s;
                
                animation: gametextanimation 3s infinite;
                &:hover{
                    color: lavender;
                    filter: drop-shadow(0 0 10px blue);
                }    
            }
            span{
                padding: 10px;
                border: 1px solid white;
                box-shadow: 1px 3px 5px white;
            }
        }
        .games-box{
            width: 85%;
            margin: 0 auto;
            .games{
                display: flex;
                justify-content: center;
                width: 100%;
                flex-wrap: wrap;                         
            }
            .datacounter-box{
                width: 100%;
                padding: 15px 30px;
                display: flex;
                justify-content: space-between;
                button{
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: transparent;
                    color: white;
                    cursor: pointer; 
                    position: relative;
                    border: none;
                    border-radius: 10px;
                    transition: 1s;
                    animation: buttonanime 5s infinite;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.436);
                        .ArrowRight{
                            animation: StartArrowRight 1s forwards;
                        }
                        .ArrowUp{
                            animation: StartArrowUp 1s forwards;
                        }
                    }
                    .ArrowRight{
                        animation: EndArrowRight 1s forwards;
                    }
                    .ArrowUp{
                        animation: EndArrowUp 1s forwards;
                    }
                    
                }    
            } 
        }
        .loading-box{
            text-align: center;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            span{
                font-size: 34px;
                
            }
        }
    }   
}

@keyframes rotatanime {
    0%{
        transform: translateX(0);
        transform: translateY(0);
        rotate: 0;
    }
    25%{
        transform: translateX(10px);
        rotate: 10deg;
    }
    50%{
        transform: translateY(-10px);
        rotate: 2deg;
    }
    75%{
        transform: translateX(0);
        rotate: -8deg;
    }
    100%{
        transform: translateY(0);
        rotate: 0;
    }
}
@keyframes beforanime{
    0%{
        left: 0px;
    }50%{
        left: 290px;
    }100%{
        left: 0px;
    }
}
@keyframes afteranime{
    0%{
        right: 0px;
    }50%{
        right: 290px;
    }100%{
        right: 0px;
    }
}
::selection{
    background-color: white;
    color: black;
}
@keyframes gametextanimation {
    0%{
        filter: drop-shadow(0 0 10px blue);
    }
    25%{
        filter: drop-shadow(0 0 10px lavender);
    }
    50%{
        transform: scale(1.1);
        filter: drop-shadow(0 0 20px lavender);
    }
    75%{
        filter: drop-shadow(0 0 10px lavender);
    }
    100%{
        filter: drop-shadow(0 0 10px blue);
    }
} 
@keyframes buttonanime {
    0%{
        box-shadow:0px 0px 5px lavender;
        filter: drop-shadow(0 0 10px lavender);
    }
    50%{
        box-shadow:0px 0px 5px blue;
        filter: drop-shadow(0 0 10px blue);
    }
    100%{
        box-shadow:0px 0px 5px lavender;
        filter: drop-shadow(0 0 10px lavender);
    }
}
@keyframes buttoncoloranimation {
    0%{
        color: lavender;
        filter: drop-shadow(0 0 5px lavender);
    }50%{
        color: blue;
        filter: drop-shadow(0 0 5px blue);
    }100%{
        color: lavender;
        filter: drop-shadow(0 0 5px lavender);
    }

}
@keyframes StartArrowRight {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(-90deg);
    }
}
@keyframes EndArrowRight {
    from{
        transform: rotate(-90deg);
    }to{
        transform: rotate(0);
    }
}
@keyframes StartArrowUp {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(-90deg);
    }
}
@keyframes EndArrowUp {
    from{
        transform: rotate(-90deg);
    }to{
        transform: rotate(0);
    }
}

/* Custom scrollbar track (background) */
::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
    height: 6px; /* Height of the horizontal scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #000000; /* Light gray background */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #0008ff;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: lavender; /* Darker gray when hovered */
}

/* Scrollbar corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Matching the track background */
}
